{% extends 'base.html.twig' %}

{% block title %}Registrations{% endblock %}

{% block body %}
    <h1 class="mt-4">Registrations</h1>

    {% for event in events %}
        {% include 'event/_event_card.html.twig' with {'event': event} %}
    {% endfor %}

{% endblock %}
