{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
        <h1>Welcome {{ app.user.firstname }} {{ app.user.lastname }} !</h1>
    {% endif %}

    <p>Next public events : </p>

    {% for event in events %}
        {% include 'event/_event_card.html.twig' with {'event': event} %}
    {% endfor %}

{% endblock %}
