/* styles personnalisés */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.navbar-custom {
    background-color: #3f51b5; /* Personnalisation change_password.html.twig la couleur change_password.html.twig fond change_password.html.twig la navbar */
}

.nav-link-custom {
    color: #ffffff; /* Personnalisation change_password.html.twig la couleur du texte des liens */
}

.nav-link-custom:hover {
    color: #ff9800; /* Changement change_password.html.twig couleur du texte au survol */
}