{# templates/home.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('user') }}">User</a></li>
        <li><a href="{{ path('event') }}">Event</a></li>
    </ul>
</nav>

{% block body %}{% endblock %}
</body>
</html>
