{# templates/user/user.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <p>Email : {{ app.user.email }}</p>
        <p>Rôles : {{ app.user.roles }}</p>
    {% else %}
        <p>Connectez-vous pour voir vos informations.</p>
    {% endif %}
{% endblock %}